<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="widget wviolet">
                      <div data-cc-widget-header title="Sign in to access the API"
                             allow-collapse="true"></div>
                      <div class="widget-content text-left text-info">
                    <form class="form-inline" role="form">
                        <div class="form-group form-group-sm">
                            <div class="input-group">
                                <label class="sr-only" for="exampleInputEmail2">Username</label>
                                <input type="text" class="form-control input-sm" id="exampleInputEmail2" placeholder="Enter username" ng-model="vm.credentials.username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control input-sm" id="exampleInputPassword2" placeholder="Password" ng-model="vm.credentials.password">
                        </div>
                        <button  class="btn btn-default" ng-click='vm.signin()'>Sign in</button>
                    </form>
                          This demo application illustrates the use of AngularJS with Node Js, Neo4J Graph DB and Express. The application also uses JSON Web Tokens and Passport JS to protect the API endpoints. Use 'guest'/'guestpassword' to login in order to access the API calls. Currently PassportJS's LocalStrategy is implemented. Stay tuned for implementation of other strategies supported by PassportJs
                      </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wblue">
                        <div data-cc-widget-header title="Add and Remove Drugs"
                             allow-collapse="true"></div>
                        <div class="widget-content text-left text-info">
                            Manage your list of drugs by navigating to the Manage Drugs section. You can add new drugs to the list by using the form.
                            When a new drug is added, it will automatically be available in the drop downs for creating relationships
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="Manage Relationships"
                             allow-collapse="true"></div>
                        <div class="widget-content text-left text-info">
                            Once you have the drugs created in the graph database, you can then specify the relationships between them by using the relationship form.
                            Select two drugs and the relationship - Interacts with or Alternative to - between them to create the relationship.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
