<section class="mainbar" data-ng-controller="query as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-4">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                         <label  class="control-label">Sample Queries:</label>
                                         <select ng-model="vm.selectedQuery" class="form-control" ng-options="q.name for q in vm.sampleQueries"
                                            ng-change="vm.query = vm.selectedQuery.query" ></select>
                                     </div>
                                </form>
                                
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Query Features</h2>
                                <p>
                                    <label>Cypher Query</label>
                                    <textarea data-ng-model="vm.query" rows="8" style="width:100%;"></textarea>
                                </p>
                                <p>
                                    <button class="btn btn-success" data-ng-click="vm.runQuery()">Run Query</button>
                                </p>
                            </div>
                            <div class="col-md-8">
                                <h2>Query results</h2>
                                <ul>
                                    <li data-ng-repeat="node in vm.nodes | filter:json">{{node}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </section>
</section>

